body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.wholecard {
  display: inline-block;
  background-color: white;
  width: 65%;
  max-width: 600px;
  height: auto;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.3);
  justify-items: center;
  align-items: center;
  margin: 10%;
}

.wholecard svg {
  display: block;
  border-radius: 20px;
  width: 90%;
  height: auto;
  margin: 20px auto;
}

.publishing p {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-left: 20px;
}

.titre p {
  display: inline-block;
  font-family: "Figtree", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  margin: 20px;
  margin-top: 9px;
  line-height: 1.7;
}

h1 {
  font-family: "Figtree", sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin-left: 20px;
  margin-bottom: 5px;
}

.learning {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-top: 2px;
}

.contact p {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  font-weight: 900;
  margin-left: 30px;
}

.contact img {
  width: 10%;
  height: 10%;
}
